.content-head-alert
    width: 100%
    height: 28px
    background: #FFAB00 0% 0% no-repeat padding-box
    padding: 0px 10px 0px 106px
    opacity: 1
    display: flex
    flex-flow: row wrap
    justify-content: space-between
.font-alert
    font: normal normal normal 14px/5px Work Sans
    padding: 10px
    height: 100%
    text-align: left
    letter-spacing: 0px
    color: #124A83
    opacity: 1
.navbar-expand-lg
    flex-flow: wrap
.navbar
    padding: initial
    z-index: 1033 !important
.navbar-container
    max-width: 100%
    padding: 0 10px 0 80px
    border: 1px solid black
    height: 48px
.btn-color
    color: white !important
.nav-secondary
    height: 38px

.content-navs
    width: 692px
.nav-link
    text-align: center
    font: normal normal medium 18px/14px Montserrat
    letter-spacing: 0.42px
    color: #0B457F
    text-transform: uppercase
    opacity: 1
