<!-- Header CDN -->
<nav class="navbar navbar-expand-lg fixed-top navbar-govco navbar-expanded">
   <div class="content-head-alert">
      <p class="font-alert">Estamos construyendo este espacio para ti y tu opinión nos ayuda a crecer.</p>
      <span class="govco-icon govco-icon-x-n size-1x"></span>
   </div>
   <div class="navbar-container container">
      <div class="navbar-logo float-left">
         <a class="navbar-brand" href="utils.getServerWebUrl()+'/'">
            <img src="https://cdn.www.gov.co/assets/images/logo.png" height="30" alt="Logo Gov.co" />
         </a>
         <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarCollapsible"
            aria-controls="navbarCollapsible"
            aria-expanded="false"
            aria-label="Toggle navigation"
         >
            <span class="navbar-toggler-icon"></span>
         </button>
      </div>
      <div class="collapse navbar-collapse navbar-first-menu float-right">
         <div class="nav-primary mx-auto">
            <ul class="navbar-nav ml-auto nav-items nav-items-desktop"></ul>
         </div>
         <div class="nav-item-primary ml-auto mr-2">
            <div class="form-inline form-search-bar my-2 my-lg-0 search-desktop-container">
               <input
                  class="form-control mr-sm-2 search-navbar search-desktop-searchTerm searchTerm"
                  type="search"
                  placeholder="Buscar "
                  aria-label="Search"
                  name="searchTerm"
                  id="search-desktop"
               />
               <span class="govco-icon govco-icon-search-cn icon-search notranslate" (click)="btnSearchGovCo()"></span>
            </div>
            <span class="govco-icon govco-icon-language-en-n lang-govco ml-3" (click)="changeLang()"></span>
         </div>
      </div>
      <div class="content-load">
         <a href="/" class="btn-symbolic-govco" role="button">
            <span class="govco-icon govco-icon-user-n btn-color"></span>
            <span class="btn-govco-text textright-govco text-white">Iniciar Sesión</span>
         </a>
      </div>
   </div>
   <div class="nav-secondary show-transition" id="nav-secondary">
      <div class="container content-navs">
         <div class="collapse navbar-collapse navbar-first-menu">
            <ul class="navbar-nav w-100 d-flex nav-items nav-items-desktop justify-content-between">
               <li class="nav-item" *ngFor="let nav of navslinks">
                  <a class="nav-link" [href]="nav.link">{{ nav.name }}</a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="navbar-nav navbar-notifications" id="notificationHeader"></div>
</nav>
