.content-page
    background: url(../../assets/2nueva-bandera--agosto.png) no-repeat 0% 0% padding-box
    height: 390px
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
.text-title
    font: normal normal 300 61px/122px Montserrat
    letter-spacing: 0px
    color: #FFFFFF
    opacity: 1
.text-message
    font: normal normal normal 30px/62px Work Sans
    letter-spacing: 0px
    color: #FFFFFF
    opacity: 1
.ctrl-search
    width: 792px
    height: 52px
    background: #FFFFFF 0% 0% no-repeat padding-box
    box-shadow: 0px 3px 6px #00000029
    border-radius: 24px
    opacity: 1
    margin-bottom: 30px
.content-search
    position: relative
.icon-search
    position: absolute
    top: -10px
    right: 15%

