<!-- Base del modulo de tramites y servicios -->
<!-- Contiene el buscador de la aplicacion -->
<!-- Se implementa un servicio para buscar el servicio ya cargado en el componente tramites masivo -->
<div class="content-page">
   <div class="container text-center content-title-search">
      <p class="text-title">¡Te damos la bienvenida!</p>
      <div class="form-inline d-flex justify-content-center content-search">
         <input
            class="form-control ctrl-search"
            type="search"
            placeholder="Encuentra aquí lo que buscas"
            aria-label="Search"
            name="searchTerm"
            id="search-desktop"
            [formControl]="search"
         />
         <span class="govco-icon govco-icon-search-cn size-3x icon-search"></span>
      </div>
      <p class="text-message">Toda la oferta del Estado colombiano a tu alcance</p>
   </div>
   <ng-container>
      <router-outlet></router-outlet>
   </ng-container>
</div>
