
.title-opinion
    text-align: left
    font: normal normal 300 44px/60px Work Sans
    letter-spacing: 0px
    color: #0B457F
    opacity: 1
.content-alert
    opacity: 1
    width: 246px
    height: 25px
    padding: 3px 10px
    &.activo
        background: #069169 0% 0% no-repeat padding-box
    &.resultado
        background: #3772FF 0% 0% no-repeat padding-box
    &.restante
        background: #F3561F 0% 0% no-repeat padding-box
.text-tiempo
    text-align: left
    font: normal normal bold 16px Montserrat
    letter-spacing: 0px
    color: #FFFFFF
    text-transform: uppercase
    opacity: 1
.text-titulo
    text-align: left
    font: normal normal bold 16px Montserrat
    letter-spacing: 0px
    color: #0B457F
    opacity: 1
.text-min
    text-align: left
    font: normal normal normal 16px Work Sans
    letter-spacing: 0px
    color: #0B457F
    opacity: 1
.content-opinion
    border-bottom: 2px solid #ebebeb

.content-cuentanos
    padding: 30px
    background: #FFFFFF 0% 0% no-repeat padding-box
    box-shadow: 0px 3px 6px #00000029
    border-radius: 10px
    border: 1px solid #3772FF
.title-cuentanos
    text-align: left
    font: normal normal 300 33px/39px Work Sans
    letter-spacing: 0px
    color: #0B457F
    text-transform: capitalize
    opacity: 1
.question-cuentanos
    text-align: left
    font: normal normal normal 20px/24px Montserrat
    letter-spacing: 0px
    color: #0B457F
    opacity: 1
.message-cuentanos
    text-align: left
    font: normal normal normal 14px/16px Work Sans
    letter-spacing: 0px
    color: #0B457F
    opacity: 1
.div-character
    position: relative
.textarea-govco, textarea
    background-color: rgba(157,190,255,.3)!important
    border-radius: .8rem!important
    font-weight: 600!important
    padding: 5% 5% 10%
    height: 12.063rem
.div-count-character
    position: absolute
    bottom: 8px
    width: 100%
    border-top: 1px solid #36c
.btn-opinion
    background: #FFFFFF 0% 0% no-repeat padding-box
    border: 1px solid #3772FF
    border-radius: 20px
    opacity: 1
    padding: 10px
    width: 255px
    margin: 10px auto
    font: normal normal bold 16px Montserrat
    letter-spacing: 0px
    color: #3772FF
    opacity: 1