<div class="container-fluid d-flex mb-5">
   <div class="mr-4">
      <p class="title-opinion">Queremos conocer tu opinión</p>
      <div class="content-opiniones">
         <div class="content-opinion" *ngFor="let participacion of participaciones">
            <div
               class="content-alert mb-4"
               [ngClass]="participacion.codigotiempo === 2 ? 'activo' : participacion.codigotiempo === 3 ? 'resultado' : 'restante'"
            >
               <p class="text-tiempo">{{ participacion.tiempo }}</p>
            </div>
            <p class="text-titulo">{{ participacion.titulo }}</p>
            <div class="d-flex justify-content-between m-0">
               <p class="text-min m-0">{{ participacion.ministerio }}</p>
               <p class="text-min m-0" *ngIf="participacion.cantidad > 0">{{ participacion.cantidad }} colombianos participando</p>
            </div>
         </div>
      </div>
      <div class="content-otros d-flex justify-content-end">
         <a class="text-otros" [routerLink]="['/tramitesyservicios/participaciondetalle']">Conocer otros ejercicios de participación</a>
         <span class="govco-icon govco-icon-right-arrow size-3x icon-otros"></span>
      </div>
   </div>
   <div class="content-cuentanos">
      <p class="title-cuentanos">Cuéntanos</p>
      <p class="question-cuentanos">¿Cómo podemos mejorar GOV.CO?</p>
      <p class="message-cuentanos">Estamos construyendo este espacio para ti y tu opinión nos ayuda a crecer.</p>
      <div class="content-form">
         <form [formGroup]="formOpinion" (submit)="saveOpinion()">
            <div class="div-character">
               <textarea
                  class="form-control"
                  id="textarea-example"
                  maxlength="300"
                  placeholder="Escribe aquí tu opinión"
                  rows="5"
                  formControlName="mensaje"
               ></textarea>
               <div class="div-count-character">
                  <ng-container *ngIf="formOpinion.get('mensaje').errors && formOpinion.get('mensaje').touched; else elseTemplate">
                     <span class="span-message-character" *ngIf="formOpinion.get('mensaje').errors.required">Es obligatorio</span>
                     <span class="span-message-character" *ngIf="formOpinion.get('mensaje').errors.minlength">Debe tener minimo 5 carácteres</span>
                     <span class="span-message-character" *ngIf="formOpinion.get('mensaje').errors.maxlength"
                        >Alcanzó el máximo de carácteres permitidos</span
                     >
                  </ng-container>
                  <ng-template #elseTemplate>
                     <span class="float-right pr-3 span-count-character">{{ lengthCtrl }}</span>
                  </ng-template>
               </div>
            </div>
            <div class="d-flex justify-content-center mt-2">
               <button type="submit" class="btn-opinion" [disabled]="formOpinion.invalid">Enviar mi opinión</button>
            </div>
         </form>
      </div>
      <div *ngIf="alert" class="d-flex justify-content-center border m-0 p-0 alert-success">
         <p class="m-0 p-0">Guardado correctamente</p>
      </div>
   </div>
</div>
