<div class="container bg-white content-body">
   <app-tramites id="tramites"></app-tramites>
   <app-participacion id="participacion"></app-participacion>
   <app-informate id="entidades"></app-informate>
</div>
<app-intereses id="noticias"></app-intereses>
