.title-opinion
    text-align: left
    font: normal normal 300 44px/60px Work Sans
    letter-spacing: 0px
    color: #0B457F
    opacity: 1
.content-alert
    opacity: 1
    width: 246px
    height: 25px
    padding: 3px 10px
    &.activo
        background: #069169 0% 0% no-repeat padding-box
    &.resultado
        background: #3772FF 0% 0% no-repeat padding-box
    &.restante
        background: #F3561F 0% 0% no-repeat padding-box
.text-tiempo
    text-align: left
    font: normal normal bold 16px Montserrat
    letter-spacing: 0px
    color: #FFFFFF
    text-transform: uppercase
    opacity: 1
.text-titulo
    text-align: left
    font: normal normal bold 16px Montserrat
    letter-spacing: 0px
    color: #0B457F
    opacity: 1
.text-min
    text-align: left
    font: normal normal normal 16px Work Sans
    letter-spacing: 0px
    color: #0B457F
    opacity: 1
.content-opiniones
    width: 1100px
.content-opinion
    width: 100%
    border-bottom: 2px solid #ebebeb
