<div class="container bg-white content-body">
   <div class="container-fluid d-flex mb-5">
      <div class="mr-4">
         <p class="title-opinion">Queremos conocer tu opinión</p>
         <div class="content-opiniones">
            <div class="content-opinion" *ngFor="let participacion of participaciones">
               <div
                  class="content-alert mb-4"
                  [ngClass]="participacion.codigotiempo === 2 ? 'activo' : participacion.codigotiempo === 3 ? 'resultado' : 'restante'"
               >
                  <p class="text-tiempo">{{ participacion.tiempo }}</p>
               </div>
               <p class="text-titulo">{{ participacion.titulo }}</p>
               <div class="d-flex justify-content-between m-0">
                  <p class="text-min m-0">{{ participacion.ministerio }}</p>
                  <p class="text-min m-0" *ngIf="participacion.cantidad > 0">{{ participacion.cantidad }} colombianos participando</p>
               </div>
            </div>
         </div>
         <div class="content-otros d-flex justify-content-end">
            <a class="text-otros" [routerLink]="['/tramitesyservicios/home']">Regresar</a>
            <span class="govco-icon govco-icon-right-arrow size-3x icon-otros"></span>
         </div>
      </div>
   </div>
</div>
