<div class="content-page">
   <div class="content-head">
      <!-- Componente header -->
      <app-header></app-header>
   </div>
   <div class="content-body-page">
      <!-- Rutas para la aplicacion -->
      <router-outlet></router-outlet>
   </div>
   <div class="content-footer">
      <!-- Componente footer -->
      <app-footer></app-footer>
   </div>
</div>
