*
    padding: 0
    margin: 0
.content-page
    width: 100%
    height: 3189px
    display: grid
    grid-gap: 1px
    grid-template-columns: 1fr
    grid-template-rows: 114px auto 272px
    grid-template-areas: "head" "body" "footer"

.content-head
    grid-area: head
.content-body
    grid-area: body
.content-footer
    grid-area: footer
