<div class="container bg-white content-body">
   <div class="container-fluid d-flex flex-wrap justify-content-between mb-5">
      <div class="content-title-noticia">
         <p class="text-title-noti">Infórmate</p>
      </div>
      <div
         class="content-noticia m"
         [ngClass]="{ principal: noticia.principal }"
         *ngFor="let noticia of noticias"
         [ngStyle]="{ 'background-image': 'url(' + noticia.imagen + ')' }"
      >
         <div class="content-text bg-white">
            <p class="text-fecha">{{ noticia.fecha }}</p>
            <p class="text-menssage-noticia">{{ noticia.mensaje }}</p>
         </div>
      </div>
      <div class="content-otros d-flex justify-content-end">
         <a class="text-otros" [routerLink]="['/tramitesyservicios/home']">Regresar</a>
         <span class="govco-icon govco-icon-right-arrow size-3x icon-otros"></span>
      </div>
   </div>
</div>
