<div class="container bg-white content-body">
   <div>
      <p class="text-title">Todos los tramites</p>
   </div>
   <div class="content-tramites">
      <div
         class="content-tramite d-flex flex-column justify-content-between p-1"
         *ngFor="let tramite of tramites | filterCollection: word; trackBy: trackbyFunction"
      >
         <p class="tram-name">{{ tramite.name }}</p>
         <p class="tran-min">{{ tramite.ministerio }}</p>
         <div class="d-flex justify-content-between content-actions">
            <p [ngClass]="tramite.medio === 'Disponible en línea' ? 'text-medio' : 'text-medio-pres'">
               <span *ngIf="tramite.medio === 'Disponible en línea'" class="govco-icon govco-icon-tramite-en-linea size-1x icon-line"></span
               >{{ tramite.medio }}
            </p>
            <p *ngIf="tramite.costo" class="text-costo">
               <span class="govco-icon govco-icon-peso-col-cp size-1x icon-costo"></span>{{ tramite.costo }}
            </p>
            <a class="link-ver" [routerLink]="['/tramitesyservicios/tramitesdetalle', tramite.id]">Ver todo el tramite</a>
         </div>
      </div>
      <div class="content-otros d-flex justify-content-end">
         <a class="text-otros" [routerLink]="['/tramitesyservicios/home']">Regresar</a>
         <span class="govco-icon govco-icon-right-arrow size-3x icon-otros"></span>
      </div>
   </div>
</div>
