.content-title-noticia
    width: 100%
.content-noticia
    position: relative
    width: 340px
    height: 271px
    background-repeat: no-repeat
    background-position: center
    background-size: 400px 350px
    width: 340px
    margin: 15px
    border-radius: 10px
    box-shadow: 0 3px 6px #00000029
    &.principal
        width: 710px
        -webkit-background-size: cover
        -moz-background-size: cover
        -o-background-size: cover
        background-size: cover
        background-position-y: 72%
.content-text
    width: 90%
    height: 122px
    padding: 20px
    left: 5%
    bottom: -5%
    box-shadow: 0 3px 6px #00000029
    border-radius: 10px
    position: absolute
.text-fecha
    text-align: left
    font: normal normal normal 14px/16px Work Sans
    letter-spacing: 0px
    color: #0B457F
    opacity: 1
.text-menssage-noticia
    text-align: left
    font: normal normal normal 16px/19px Montserrat
    letter-spacing: 0px
    color: #0B457F
    opacity: 1
.text-title-noti
    text-align: left
    font: normal normal 300 44px/60px Work Sans
    letter-spacing: 0px
    color: #0B457F
    opacity: 1
