.content-intereses
    max-width: 1200px
.card-interes
    width: 590px
    height: 243px
    padding: 0
    border-radius: 10px
    box-shadow: 0 3px 6px #00000029
.card-img
    width: 105px
    height: 105px
    border-radius: 10px
    &.sinImage
        background-color: #F42E62
.card-body
    width: 100%
    height: 100%
.card-title
    text-align: left
    font: normal normal 300 33px Work Sans
    letter-spacing: 0px
    color: #0B457F
    opacity: 1
.card-text
    text-align: left
    margin: 0
    font: normal normal normal 16px Work Sans
    letter-spacing: 0px
    color: #0B457F
    opacity: 1
