<div class="container p-0 content-intereses">
    <div>
       <h2>Otros temas de tu interés</h2>
    </div>
    <div class="container-fluid m-0 p-0 d-flex flex-wrap justify-content-between">
       <div class="card mb-3 card-interes" *ngFor="let interes of intereses">
          <div class="row no-gutters">
             <div class="col-md-3 d-flex justify-content-center align-items-center">
                <ng-container *ngIf="interes.imagen; else elseTemplate">
                   <img [src]="interes.imagen" class="card-img" alt="..." />
                </ng-container>
                <ng-template #elseTemplate>
                   <div class="card-img sinImage"></div>
                </ng-template>
             </div>
             <div class="col-md-9">
                <div class="card-body">
                   <p class="card-title">{{ interes.titulo }}</p>
                   <p class="card-text">{{ interes.mensaje }}</p>
                   <div class="content-otros m-0 d-flex justify-content-end">
                      <a class="text-otros" [routerLink]="['/tramitesyservicios/interesesdetalle']">{{ interes.nombreaccion }}</a>
                      <span class="govco-icon govco-icon-right-arrow size-3x icon-otros"></span>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 