.text-title
    text-align: left
    font: normal normal 300 44px/60px Work Sans
    letter-spacing: 0px
    color: #0B457F
    opacity: 1
.content-tramites
    width: 1100px
    height: 100%
    margin: 0 auto
.content-tramite
    width: 1100px
    margin: 0 auto
    border-bottom: 2px solid #ebebeb
.tram-name
    text-align: left
    font: normal normal bold 16px/20px Montserrat
    letter-spacing: 0px
    color: #0B457F
    opacity: 1
    margin: 0
.tran-min
    text-align: left
    font: normal normal normal 14px/20px Work Sans
    letter-spacing: 0px
    color: #0B457F
    opacity: 1
    margin: 0
    padding: 0
.icon-costo
    color: #3772FF
.text-medio
    text-align: left
    font: normal normal normal 14px Work Sans
    letter-spacing: 0px
    color: #069169
    opacity: 1
    padding: 0
    margin: 0
.text-medio-pres
    text-align: left
    font: normal normal normal 14px Work Sans
    letter-spacing: 0px
    color: #004884
    opacity: 1
    padding: 0
    margin: 0
.text-costo
    text-align: left
    font: normal normal normal 14px Work Sans
    letter-spacing: 0px
    color: #0B457F
    opacity: 1
    padding: 0
    margin: 0
.link-ver
    text-align: left
    text-decoration: underline
    font: normal normal normal 14px Work Sans
    letter-spacing: 0px
    color: #004884
    opacity: 1
    padding: 0
    margin: 0
