<div class="container bg-white content-body">
   <div class="container bg-white content-body">
      <div>
         <p class="text-title">{{ tramite?.name }}</p>
      </div>
      <div class="content-tramites">
         <div class="content-tramite d-flex flex-column justify-content-between p-1">
            <p class="tram-name">{{ tramite?.name }}</p>
            <p class="tran-min m-3">
               {{ tramite?.detalle }}
            </p>
            <div class="d-flex justify-content-between content-actions">
               <p [ngClass]="tramite?.medio === 'Disponible en línea' ? 'text-medio' : 'text-medio-pres'">
                  <span *ngIf="tramite?.medio === 'Disponible en línea'" class="govco-icon govco-icon-tramite-en-linea size-1x icon-line"></span
                  >{{ tramite?.medio }}
               </p>
               <p *ngIf="tramite?.costo" class="text-costo">
                  <span class="govco-icon govco-icon-peso-col-cp size-1x icon-costo"></span>{{ tramite?.costo }}
               </p>
            </div>
         </div>
         <div class="content-otros d-flex justify-content-end">
            <a class="text-otros" [routerLink]="['/tramitesyservicios/home']">Regresar</a>
            <span class="govco-icon govco-icon-right-arrow size-3x icon-otros"></span>
         </div>
      </div>
   </div>
</div>
