
.content-carrousel
    min-width: 371px
    width: 371px
    height: 438px
    border-radius: 15px
    padding: 20px
    border: 1px solid #3772FF
    box-shadow: 0 0 5px gray
    margin-right: 20px

.carousel-item
    width: 100%
    height: 398px

.title-carrousel
    font: normal normal normal 16px/50px Montserrat
    letter-spacing: 0px
    color: #3772FF
    opacity: 1
.icon-color
    color: #3772FF
.name-certificate
    font: normal normal 300 33px/40px Work Sans
    letter-spacing: 0px
    color: #004884
    opacity: 1
.text-link
    text-align: left
    font: normal normal normal 14px/50px Work Sans
    letter-spacing: 0px
    color: #004884
    opacity: 1
.text-line
    text-align: left
    font: normal normal normal 14px/50px Work Sans
    letter-spacing: 0px
    color: #069169
    opacity: 1
    padding: 5px
.icon-line
    color: #069169

.content-tramites
    width: 750px
    height: 392px
    margin: 20px 0
.content-tramite
    width: 750px
    height: 93px
    border-bottom: 2px solid #ebebeb
.tram-name
    text-align: left
    font: normal normal bold 16px/20px Montserrat
    letter-spacing: 0px
    color: #0B457F
    opacity: 1
    margin: 0
.tran-min
    text-align: left
    font: normal normal normal 14px/20px Work Sans
    letter-spacing: 0px
    color: #0B457F
    opacity: 1
    margin: 0
    padding: 0
.icon-costo
    color: #3772FF
.text-medio
    text-align: left
    font: normal normal normal 14px Work Sans
    letter-spacing: 0px
    color: #069169
    opacity: 1
    padding: 0
    margin: 0
.text-medio-pres
    text-align: left
    font: normal normal normal 14px Work Sans
    letter-spacing: 0px
    color: #004884
    opacity: 1
    padding: 0
    margin: 0
.text-costo
    text-align: left
    font: normal normal normal 14px Work Sans
    letter-spacing: 0px
    color: #0B457F
    opacity: 1
    padding: 0
    margin: 0
.link-ver
    text-align: left
    text-decoration: underline
    font: normal normal normal 14px Work Sans
    letter-spacing: 0px
    color: #004884
    opacity: 1
    padding: 0
    margin: 0

.carousel-indicators
    & li
        width: 20px
        height: 20px
        border-radius: 100%
        background: #BABABA 0% 0% no-repeat padding-box
        opacity: 1
        z-index: 0
        &.active
            background: #3772FF 0% 0% no-repeat padding-box