<div class="container-fluid d-flex mb-5">
   <div class="content-carrousel">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
         <ol class="carousel-indicators">
            <li
               data-target="#carouselExampleCaptions"
               attr.data-slide-to="{{ i }}"
               [ngClass]="{ active: i === 0 }"
               *ngFor="let tramite of masUsados; let i = index; trackBy: trackbyFunction"
            ></li>
         </ol>
         <div class="carousel-inner">
            <div class="carousel-item" [ngClass]="{ active: i === 0 }" *ngFor="let tramite of masUsados; let i = index; trackBy: trackbyFunction">
               <div class="d-flex justify-content-between">
                  <p class="title-carrousel">Los trámites más usados</p>
                  <span class="govco-icon govco-icon-plus size-3x icon-color"></span>
               </div>
               <div>
                  <p class="name-certificate">{{ tramite.name }}</p>
               </div>
               <p class="text-link">{{ tramite.ministerio }}</p>
               <p [ngClass]="tramite.medio === 'Disponible en línea' ? 'text-medio' : 'text-medio-pres'">
                  <span *ngIf="tramite.medio === 'Disponible en línea'" class="govco-icon govco-icon-tramite-en-linea size-1x icon-line"></span
                  >{{ tramite.medio }}
               </p>
            </div>
         </div>
      </div>
   </div>
   <div class="content-tramites">
      <div class="content-tramite d-flex flex-column justify-content-between p-1" *ngFor="let tramite of basicos; trackBy: trackbyFunction">
         <p class="tram-name">{{ tramite.name }}</p>
         <p class="tran-min">{{ tramite.ministerio }}</p>
         <div class="d-flex justify-content-between content-actions">
            <p [ngClass]="tramite.medio === 'Disponible en línea' ? 'text-medio' : 'text-medio-pres'">
               <span *ngIf="tramite.medio === 'Disponible en línea'" class="govco-icon govco-icon-tramite-en-linea size-1x icon-line"></span
               >{{ tramite.medio }}
            </p>
            <p class="text-costo"><span class="govco-icon govco-icon-peso-col-cp size-1x icon-costo"></span>{{ tramite.costo }}</p>
            <a class="link-ver" [routerLink]="['/tramitesyservicios/tramitesdetalle', tramite.id]">Ver todo el tramite</a>
         </div>
      </div>
      <div class="content-otros d-flex justify-content-end">
         <a class="text-otros"  [routerLink]="['/tramitesyservicios/tramitesmasivo']">Conocer otros trámites</a>
         <span class="govco-icon govco-icon-right-arrow size-3x icon-otros"></span>
      </div>
   </div>
</div>
