.content-otros
    height: 70px
    width: 100%

.text-otros
    font: normal normal normal 16px Montserrat
    letter-spacing: 0px
    color: #3772FF
    opacity: 1
    padding: 25px 0
    margin: 0
    height: 100%
    &:hover
        text-decoration: none
.icon-otros
    color: #3772FF
.content-body
    background: #FFFFFF 0% 0% no-repeat padding-box
    box-shadow: 0px 3px 10px #00000033
    opacity: 1
    border-radius: 10px
    padding: 30px
    max-width: 1200px
